<div class="container-fluid bg text">
  <div class="row">
    <div class="col-3">
      Usuário
    </div>

    <div class="col mt-5">
      
    
      <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs center" id="nav-tab" role="tablist">
          <button class="btn btn-light cor" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Minhas postagens</button>
        </div>
        
        <div class="nav nav-tabs center" id="nav-tab" role="tablist">
          <button class="nav-link cor" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Postagens por tema</button>
        </div>
        
      </nav>
      <hr class="m-0 p-0 cor">
      <div class="tab-content d-flex justify-content-center" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Minhas postagens</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Postagem por temas</div>
      </div>
  
      <div>
        <h1> 





        </h1>
      </div>

      </div>
    </div>
  </div>
  



